<h1><%= @list.title %></h1>
<h3><%= @list.description %></h3>
<div>
    <%= link_to 'Add task', new_list_task_path(@list) %>
</div>
<div>
    <% if @list.tasks %>
        <% @list.tasks.each do |task| %>
            <div>
                <h5><%= task.title %></h5>
                <p><%= task.definition %></p>
                <p>Status</p>
                <%= link_to 'Delete', [@list, task], method: :delete, data: { confirm: 'Are you sure?' } %>
                <%= link_to 'Edit', edit_list_task_path(@list, task) %>
            </div>
        <% end %>    
    <% else %>
    <p>None tasks</p>
    <% end %>
</div>