<div class="container-fluid tasks">
    <div class="row">
        <div class="col">
            <h2><%= @list.title %></h2>
        </div>
        <div class="col">
            <div class="btn-group" role="group" aria-label="Basic example">
                <%= link_to new_list_task_path(@list), class: 'btn btn-outline-success',
                    title: 'Add a new task' do %>
                    <%= fa_icon "plus" %>
                    <span>Add a new task</span>
                <% end %>
                <%= link_to list_path(@list, format: 'csv'), class: 'btn btn-info font_button_list',
                    title: 'Export list to CSV' do %>
                    <%= fa_icon "file" %>
                    <span>CSV</span>
                <% end %>
                <%= link_to list_path(@list, format: 'pdf'), class: 'btn btn-info font_button_list',
                    title: 'Export list to PDF' do %>
                    <%= fa_icon "file" %>
                    <span>PDF</span>
                <% end %>
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                <%= @list.description %>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-flush">
                <% if @list.tasks.length > 0 %>
                    <% @list.tasks.each do |task| %>
                        <% if task.state %>
                            <li class="list-group-item list-group-item-success">
                                <div class="row">
                                    <div class="col">
                                        <h5><%= fa_icon "check", title: 'Completed' %><%= task.title %></h5>
                                    </div>
                                    <div class="btn-group col-sm-2" role="group">
                                        <%= link_to edit_list_task_path(@list, task), class: 'btn btn-info font_button_list',
                                            title: 'Edit task' do %>
                                            <%= fa_icon "edit" %>
                                        <% end %>                            
                                        <%= link_to [@list, task], method: :delete, data: { confirm: 'Are you sure?' },
                                            title: 'Delete task', class: 'btn btn-danger font_button_list' do %>
                                            <%= fa_icon "trash" %>
                                        <% end %>
                                    </div>
                                </div>
                                <p><%= task.definition %></p>
                            </li>
                        <% else %>
                            <li class="list-group-item list-group-item-warning">
                                <div class="row" title="Incomplete">
                                    <div class="col">
                                        <h5><%= fa_icon "times", title: 'Incomplete' %><%= task.title %></h5>
                                    </div>
                                    <div class="btn-group col-sm-2" role="group">
                                        <%= link_to edit_list_task_path(@list, task), class: 'btn btn-info font_button_list',
                                            title: 'Edit task' do %>
                                            <%= fa_icon "edit" %>
                                        <% end %>                            
                                        <%= link_to [@list, task], method: :delete, data: { confirm: 'Are you sure?' },
                                            title: 'Delete task', id: "del-task#{task.id}", class: 'btn btn-danger font_button_list' do %>
                                            <%= fa_icon "trash" %>
                                        <% end %>
                                    </div>
                                </div>
                                <p><%= task.definition %></p>
                            </li>
                        <% end %>
                    <% end %>    
                <% else %>
                    <p><h1>None tasks</h1></p>
                <% end %>
            </ul>
        </div>
    </div>
</div>
