<div class="container-fluid">
    <div class="row">
        <!-- <h1>To Do</h1> -->
    </div>
    <% if !user_signed_in? %>
        <!-- Login -->
        <div class="container">
            <!-- <%= image_tag "icon3.png" %> -->
            <div class="card text-center">
                <!-- <%= image_tag "icon2.jpg", class: "card-img-top", alt: "ToDoIcon" %> -->
                <!-- <img class="card-img-top" src="" alt=""> -->
                <div class="card-body">
                    <%= render new_user_session_path %>
                    <%= render "devise/shared/links" %>
                    <%= link_to 'Create an account free', new_user_registration_path %>
                    <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#contentId" aria-expanded="false"
                            aria-controls="contentId">
                        Show
                    </button>
                    <div class="collapse" id="contentId">
                        <%= render new_user_registration_path %>
                    </div> -->
                
                </div>
            </div>
        </div>
    <% end %>
</div>
