<%= form_for @list, action: :update do |f| %>
    <p>
        <%= f.label :title %>
        <%= f.text_field :title %><br />
    </p>
    <p>
        <%= f.label :description %>
        <%= f.text_area :description %><br />
    </p>
    <div class="actions">
        <%= f.submit "OK" %>
    </div>
<% end %>