<div class="container-fluid">
    <div class="row">
        <div class="col">
            <%= link_to new_list_path, title: 'Create a new list', class: 'btn btn-outline-success btn-block' do %>
                <%= fa_icon "plus" %>
                <span>Add a new list</span>
            <% end %>
            <ul class="list-group list-group-flush">
            <% if current_user.lists.length > 0 %>
                <% current_user.lists.each do |list| %>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <h5><%= list.title %></h5>
                            </div>
                            <div class="btn-group col" role="group">
                                <%= link_to list, class: 'btn btn-info',
                                    title: 'Show tasks' do %>
                                    <%= fa_icon "list" %>
                                    <span class="badge"><%= list.tasks.length %></span>
                                <% end %>
                                <%= link_to edit_list_path(list), class: 'btn btn-info',
                                    title: 'Edit list' do %>
                                    <%= fa_icon "edit" %>
                                <% end %>
                                <%= link_to list, method: :delete, data: { confirm: 'Are you sure?' },
                                    title: 'Delete list', class: 'btn btn-danger' do %>
                                    <%= fa_icon "trash" %>
                                <% end %>
                                <!-- <%= link_to 'Edit', edit_list_path(list) %>
                                <%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' } %>
                                <%= link_to 'Tasks', list %> -->
                            </div>
                        </div>
                        <small><em><%= list.description %></em></small>
                    </li>
                <% end %>
            <% else %>
                <h2>Nothing to do</h2>
            <% end %>
            </ul>
        </div>
    </div>
</div>