<div class="container-fluid edit-form">
    <div class="row">
        <div class="col">
            <h2><%= @list.title %> | Edit task</h2>
        </div>
    </div>
    <div class="container">
        <%= form_for [@list,@task], action: :update do |f| %>
            <div class="form-group row">
                <%= f.label :title, class: 'col-sm-1 col-form-label' %>
                <div class="col-sm-4">
                    <%= f.text_field :title, class: 'form-control form-control-sm' %>
                </div>
            </div>

            <div class="form-group row">
                <%= f.label :definition, class: 'col-sm-1 col-form-label' %>
                <div class="col-sm-4">
                    <%= f.text_area :definition, class: 'form-control form-control-sm' %>
                </div>
            </div>

            <div class="form-group row">
                <%= f.label 'Done?', class: 'col-sm-1 col-form-label' %>
                <div class="col-sm-1">
                    <%= f.check_box :state, class: 'form-control form-control-sm' %>
                </div>
            </div>
            
            <div class="row">
                <div class="col-5">
                    <%= f.submit "Update", class: 'btn btn-success btn-block', title: 'Save changes' %>
                </div>
            </div>
        <% end %>
    </div>
    
</div>
